@use "./typography";
@use "./colors";

@mixin script-heading() {
    color: colors.$secondary-font-color;
    font-size: 65px;
    font-family: typography.$secondary-font;
    font-weight: 300;
    margin-bottom: 0px;
    line-height: .75;
}
@mixin main-link() {
    color: colors.$secondary-font-color;
    font-family: typography.$primary-font;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

@mixin sub-heading() {
    color: #000000;
    font-family: typography.$header-font;
    font-size: 55px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}
@mixin menu-subhead() {
    color: #000000;
    font-family: typography.$primary-font;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

@mixin primary-paragraph() {
    color: colors.$primary-font-color;
    font-family: typography.$primary-font;
    font-weight: 300;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 40px;
}
