@use "vendor/normalize";
@use "partials/colors";
@use "partials/mixins";
@use "partials/typography";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* index.html header bar */
.topheader {
    background-color: colors.$darker-background;
}
.navcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.homenavbar {
    padding: 15px;
    display: inline-block;
    ul {
        list-style-type: none;
        overflow: hidden; 
        li {
            padding: 10px;
            float: left;
        }
    }
}
.navtext1 {
    color: #ffffff;
    font-family: typography.$header-font;
    font-weight: 600;
    text-transform: uppercase;
    flex-direction: row;
    display: inline-block;
    padding: 0 50px;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}
.navtext {
    color: #ffffff;
    font-family: typography.$header-font;
    font-weight: 300;
    text-transform: uppercase;
    list-style: none;
    text-decoration:none;
}
.navtext.active {
    text-decoration: underline;
    text-decoration-thickness: .5px;
    text-underline-offset: 3px;
}
/* index.html main page sections */
.homeheader {
    @include mixins.script-heading();
}
section {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 25px;
}
.container {
    article {
        display: flex;
        max-width: 100%;
        justify-content: space-between;
    }
}
.box {
    flex: 1;
    margin: 30px;
    padding: 10px;
}
#boxleft {
    align-items: flex-start;
    max-width: 50%;
}
#boxright {
    align-items: flex-end;
    max-width: 50%;
}
#boxright img {
    width: 100%;
    height: auto;
}
.imgdetail {
    max-width: 100%;
    height: auto;
}
.hometitle {
    @include mixins.sub-heading();
}
.homeintro {
    @include mixins.primary-paragraph();
}
.homelink {
    @include mixins.main-link();
}
/* index.html footer bar */
.bottomfooter {
    background-color: colors.$dark-background; 
    padding: 25px 50px; 
    position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
  }
  
.footercontainer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
  }
  
.footertext {
    color: #ffffff; 
    font-family: typography.$primary-font;
    font-weight: 300;
    font-size: 20px;
    flex: 1; 
    text-align: center; 
  }
/* index.html MENU */
.menu {
    h2 {
        @include mixins.script-heading();
    }
    h3 {
        @include mixins.menu-subhead();
    }
    p {
        @include mixins.primary-paragraph();
    }
}
.main-link {
    @include mixins.main-link();
}
.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 50px;
    max-width: 45%;
    width: 100%;
    margin: 30px;
    padding: 10px;
}
  
.images img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
  
.menu {
    max-width: 50%;
}